@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
main{
  min-height: 100vh;
}
body {
  color: $txt-1;
  background: $bg-1;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


table {
  margin: auto;
}

a {
  text-decoration: none;
  color: $acc-2;
  font-weight: bold;
  &:hover {
    transition: 0.2s;
    color: $acc-1;
  }
  i {
    font-size: 1.5em;
  }
}

button{
  padding: 1em;
  margin: 0.1em;
  border-radius: $rad-1;
  border-radius: $rad-1;
  background-color: $acc-1-d;
  color: $acc-1;
  font-weight: bolder;

  &:hover {
    background-color: $acc-1;
    color: $acc-1-d;
  }
}