// Colors
$acc-1: #42d4c8;
$acc-2: #329c32;

$close: #ce3f3f;

$txt-1: #ffffff;
$txt-2: #303030;

$bg-1: #292929;
$bg-2: #747474;

$c-bg-1: white;
$shadow: $c-bg-1 0px 15px 30px -15px;
$t-shadow: $txt-2 0px 15px 30px -15px;
// $shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;


$tr-s: .5s;
$tr-f: .1s;

$rad-1: .5em;

@media (prefers-color-scheme: dark) {
  :root {
    $acc-2: #ffffff;
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
